.wl-content {
    display: flex;
    margin-left: 200px;
    padding: 30px;
}
@media (max-width: 768px) {
    .wl-content {
        margin-left: 0;
        margin-bottom: 50px; /* adds space for bottom bar on some views */
        padding: 13px;
    }
}

.wl-required:after { /* adds an asterisk to required fields */
    content: " *";
    color: red;
}

.wl-card {
    margin: auto;
    width: 100%;
    max-width: 1266px; /* 1296 - 30 from nav */
}

.theme-primary {
    color: #1d62d0;
}

.theme-primary-bg {
    background-color: #1d62d0;
}

.theme-primary-mask {
    background: #1d62d0;
}

.theme-secondary {
    color: #7487a2;
}

.theme-secondary-bg {
    background-color: #7487a2;
}

.theme-delete {
    color: #e40004;
}

.theme-delete-bg {
    background-color: #e40004;
}

/* Fixes our cards on the home page because they are really links */
a[class^=card] {
    text-decoration: none;
    color: initial;
}
 
/* The badge in the main wishlist view */
.wishr-badge {
    display: inline-block;
    width: initial;
    font-size: .8em;
    white-space: nowrap;
}

.wishr-badge > div {
    padding: .2rem .5rem;
    display: inline-block;
    border-collapse: collapse;
    color: #FFF;
}

.wishr-badge>div:first-child {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: #444;
    border-right: 0;
    font-weight: bold;
}

.wishr-badge>div:last-child {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.wishr-badge-green {
    background-color: #0ab51c;
}

.wishr-badge-blue {
    background-color: #1587cc;
}

.wishr-badge-purple {
    background-color: #c615cc;
}

/* End badge */

/* Needed for icon alignment */
.btn i {
    margin-right: .3rem;
    display: inline-block;
    vertical-align: text-top;
}

[class^="iconoir-"], [class*=" iconoir-"] {
    display: inline-block;
    font-size: 1.1rem;
}


input:focus-visible {
    outline: none!important;
    border-bottom: 1px solid #1d62d0!important;
}

.wishr-btn {
    width: 100%;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    font-size: 16px;
}

.wishr-btn i {
    font-size: 22px;
    margin-right: 4px;
}

.wishr-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.wishr-field input {
    padding: 3px 0px 3px 4px;
    border: 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    color: #666;
    /* width: 100%; */
}

.form-error {
    color: #e40004;
    font-size: 0.8em;
}

/* A link "button", meant to be a secondary button design. Color it with theme-primary */
.wishr-icon-link {
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    white-space: nowrap;
}

.wishr-icon-link i {
    display: inline-block;
    margin-right: 4px;
    font-size: 22px;
}

.wishr-icon-link:hover {
    text-decoration: underline;
}

.wishr-logo {
    mask: url(@/assets/wishr-logo.svg);
    mask-size: cover;
    display: inline-block;
}

.wishr-modal-backdrop {
    top: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 5;
}

button:disabled,
button[disabled=true],
div:disabled,
div[disabled=true] {
    background-color: #ccc;
    color: #777;
    cursor: not-allowed;
}

.required:before {
    content: "* ";
    color: #e40004;
    font-size: 18px;
    vertical-align: middle;
}

.wishr-loading {
    background-image: url(@/assets/loading.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 100px;
    background-size: contain;
    margin: auto;
}